[Unit]
Description=CookBook API
Documentation=https://cookbook.uu.vojtechpetrasek.com/docs
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=/root/uuCookBook/backend/.env
ExecStart=/usr/bin/node /root/uuCookBook/backend/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target