{
  "openapi": "3.0.0",
    "info": {
      "title": "uuCookBook API",
      "description": "",
      "version": "1.0",
      "license": {
        "name": "GPL-3.0",
        "url": "https://opensource.org/license/gpl-3-0/"
      }
    },
    "servers": [
      {
        "url": "https://api.uu.vojtechpetrasek.com/v3"
      }
    ],
    "tags": [
      {
        "name": "User Requests",
        "description": "Example API for requesting and return User Requests"
      },
      {
        "name": "Recipe Requests",
        "description": "Example API for requesting and return Recipe Requests"
      }
    ],
    "produces": ["application/json"],
    "paths": {
      "/login": {
        "post": {
          "tags": [
            "User Requests"
          ],
          "description": "",
          "summary": "Login user",
          "produces": [
            "application/json"],
          "parameters": [
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": ""
                    },
                    "password": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "example": "Success"
                      },
                      "token": {
                        "type": "string",
                        "example": ""
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            }
          }
        }
      },
      "/register": {
        "post": {
          "tags": [
           "User Requests"
         ],
          "description": "",
          "summary": "Create new user",
          "parameters": [],
          "responses": {}
        }
      },
      "/user/{id}": {
        "get": {
          "tags": [
           "User Requests"
         ],
          "description": "",
          "summary": "Get user by id",
          "parameters": [],
          "responses": {}
        },
        "put": {
          "tags": [
           "User Requests"
         ],
          "description": "",
          "summary": "Update user by id",
          "parameters": [],
          "responses": {}
        },
        "delete": {
          "tags": [
           "User Requests"
         ],
          "description": "",
          "summary": "Delete user by id",
          "parameters": [],
          "responses": {}
        }
      },
      "/users": {
        "get": {
          "tags": [
           "User Requests"
         ],
          "description": "Get all users",
          "summary": "Get all users",
          "parameters": [],
          "responses": {}
        }
      },
      "/recipes": {
         "get": {
           "tags": [
            "Recipe Requests"
          ],
           "description": "",
           "summary": "Get all recipes",
           "parameters": [],
           "responses": {}
         }
       },
       "/add_recipe": {
        "post": {
          "tags": [
           "Recipe Requests"
         ],
          "description": "",
          "summary": "Create new recipe",
          "parameters": [],
          "responses": {}
        }
        
      },
      "/recipe/{id}": {
        "get": {
          "tags": [
           "Recipe Requests"
         ],
          "description": "",
          "summary": "Get recipe by id",
          "parameters": [],
          "responses": {}
        },
        "put": {
          "tags": [
           "Recipe Requests"
         ],
          "description": "",
          "summary": "Update recipe by id",
          "parameters": [],
          "responses": {}
        },
        "delete": {
          "tags": [
           "Recipe Requests"
         ],
          "description": "",
          "summary": "Delete recipe by id",
          "parameters": [],
          "responses": {}
        }
      }

   },
   "securityDefinitions": {
     "api_key": {
       "type": "apiKey",
       "name": "api_key",
       "in":"header"
     }
   }
 }